.desktop2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop2-thq-desktop2-elm {
  width: 100%;
  height: 1209px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(50, 54, 55, 1);
}
 
.desktop2-thq-rectangle4-elm {
  top: 181px;
  left: 25px;
  width: 1376px;
  height: 81px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop2-thq-rectangle7-elm {
  top: 998px;
  left: 25px;
  width: 1376px;
  height: 109px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop2-thq-rectangle8-elm {
  top: 1117px;
  left: 25px;
  width: 1376px;
  height: 81px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop2-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 1430px;
  height: 166px;
  position: absolute;
}
 
.desktop2-thq-text-elm1 {
  top: 20px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  width: 646px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: IBM Plex Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop2-thq-text-elm2 {
  top: 204px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop2-thq-text-elm3 {
  top: 1022px;
  left: 687px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop2-thq-text-elm4 {
  top: 1129px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop2-thq-folder-elm {
  top: 1023px;
  left: 617px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.desktop2-thq-pentool-elm {
  top: 1127px;
  left: 617px;
  width: 49px;
  height: 49px;
  position: absolute;
}
 
.desktop2-thq-feather-elm {
  top: 192px;
  left: 621px;
  width: 48px;
  height: 48px;
  position: absolute;
}
 
.desktop2-thq-rectangle3-elm {
  top: 270px;
  left: 25px;
  width: 1376px;
  height: 714px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop2-thq-rectangle1-elm {
  top: 296px;
  left: 37px;
  width: 744px;
  height: 628px;
  position: absolute;
}
 
.desktop2-thq-text-elm5 {
  top: 423px;
  left: 814px;
  color: rgba(0, 0, 0, 1);
  width: 488px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop2-thq-text-elm6 {
  font-weight: 700;
}
 
.desktop2-thq-bookmark-elm {
  top: 361px;
  left: 803px;
  width: 55px;
  height: 52px;
  position: absolute;
}
 
.desktop2-link {
  display: contents;
}
 
.desktop2-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.desktop2-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.desktop2-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
