.desktop1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop1-thq-desktop1-elm {
  width: 100%;
  height: 1209px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(50, 54, 55, 1);
}
 
.desktop1-thq-rectangle3-elm {
  top: 192px;
  left: 27px;
  width: 1376px;
  height: 733px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop1-thq-rectangle4-elm {
  top: 935px;
  left: 25px;
  width: 1376px;
  height: 81px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop1-thq-rectangle7-elm {
  top: 1026px;
  left: 25px;
  width: 1376px;
  height: 81px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop1-thq-rectangle8-elm {
  top: 1117px;
  left: 25px;
  width: 1376px;
  height: 81px;
  position: absolute;
  border-radius: 20px;
}
 
.desktop1-thq-rectangle1-elm {
  top: 237px;
  left: 37px;
  width: 744px;
  height: 628px;
  position: absolute;
}
 
.desktop1-thq-rectangle-elm {
  top: 829px;
  left: 343px;
  width: 386px;
  height: 48px;
  position: absolute;
}
 
.desktop1-thq-text-elm1 {
  top: 837px;
  left: 350px;
  color: rgba(255, 255, 255, 1);
  width: 415px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-text-elm2 {
  top: 364px;
  left: 835px;
  color: rgba(0, 0, 0, 1);
  width: 488px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-text-elm3 {
  font-weight: 700;
}
 
.desktop1-thq-rectangle2-elm {
  top: 0px;
  left: 0px;
  width: 1430px;
  height: 166px;
  position: absolute;
}
 
.desktop1-thq-text-elm6 {
  top: 20px;
  left: 49px;
  color: rgba(255, 255, 255, 1);
  width: 646px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: IBM Plex Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-text-elm7 {
  top: 947px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-text-elm8 {
  top: 1038px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-text-elm9 {
  top: 1129px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop1-thq-feather-elm {
  top: 300px;
  left: 835px;
  width: 48px;
  height: 48px;
  position: absolute;
}
 
.desktop1-thq-pentool-elm {
  top: 1127px;
  left: 617px;
  width: 49px;
  height: 49px;
  position: absolute;
}
 
.desktop1-thq-bookmark-elm {
  top: 945px;
  left: 611px;
  width: 59px;
  height: 56px;
  position: absolute;
}
 
.desktop1-thq-folder-elm {
  top: 1039px;
  left: 616px;
  width: 50px;
  height: 50px;
  position: absolute;
}
 
.desktop1-link {
  display: contents;
}
 
.desktop1-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.desktop1-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.desktop1-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
