:root {
  --red: #A92828;
  --blue: #0009B7;
  --offwhite: #EEEEEE;
  --white: #FFFFFF;
}

.top-bar {
    height: 166px;
    width: 100%;
    background: linear-gradient(to right, var(--red), var(--blue));
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid-item {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-top: 20px;
    height: 75px;
    border-radius: 20px;
}

.profile-picture{
    width: 25%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 20%;
    object-fit: cover;
}

.item3{
    height: 100%;
    background-color: var(--white);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-bottom: 20px;
    overflow: hidden;        
}

.item-text{
    padding-left: 5%;
    font-family: 'Arial', sans-serif;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 12px;

    justify-content: flex-start;
    text-align: left;

    margin-bottom: 20px;
    margin-left: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card img {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 16px;
}

.project-card p {
    margin-top: 8px;
    margin: 5%;
    text-align: center;
    font-size: 60%;
    font-family: 'Arial', sans-serif;
}

a{
    font-size: 24px;
    padding: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding-top: 170px;
    background-color: var(--offwhite);
}