:root {
  --red: #A92828;
  --blue: #0009B7;
  --offwhite: #EEEEEE;
  --white: #FFFFFF;
}

.top-bar {
    height: 166px;
    width: 100%;
    background: linear-gradient(to right, var(--red), var(--blue));
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 64px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.grid-item {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-top: 20px;
    height: 75px;
    border-radius: 20px;
}

.profile-picture{
    width: 25%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 20%;
}

.item4{
    height: 1448px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 24px;        
}

.about-layout {
    display: grid;
    grid-template-columns: auto 2px 1fr;
    gap: 24px;
    height: 100%;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-weight: bold;
    text-align: center;
}

.divider {
    background-color: black;
    width: 2px;
    height: 100%;
}

.about-right {
    overflow-y: auto;
    font-family: Arial, sans-serif;
    font-size: 0.95rem;
}

.about-right h2 {
    margin-top: 0;
}

.about-right h3 {
    margin-top: 20px;
}

.item-text{
    padding-left: 5%;
    font-family: 'Arial', sans-serif;
}

a{
    font-size: 24px;
    padding: 15px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding-top: 170px;
    background-color: var(--offwhite);
}